#mainimg{
        width:100%;
        height:300px;
        background-image: url(/image/bezdez.jpg);
        background-position: 50% 30% ;
        background-size: cover ;
        overflow: hidden;
        background-repeat: no-repeat;   
        display: flex;     
}

nav{   font-family: 'Alegreya Sans SC', sans-serif;
        width:100%;
        height: auto;
        display:flex;
        align-items: flex-end;
        font-size: larger;
        font-weight: bold;
        color:#A9A9A9;

}

ul{     width:100%;
        display: flex;
        flex-direction: row-reverse;
        list-style-type: none;
        margin:30px 100px 10px ;

}
li{     flex:1 1 1;
        width:auto;
        height:auto;
        margin: 20px;
        padding: 3px;
        border: solid 2px;
        cursor: pointer;

}

a {     font-family: 'Alegreya Sans SC', sans-serif;
        font-size: larger;
        font-weight: bold;
        color:	#F8F8FF;
        text-decoration: none;
}

a:hover{    cursor: pointer;}

body{  font-family: 'Alegreya Sans SC', sans-serif;
        background-image: url(/image/noisy-texture-100x100-o16-d10-c-9c9c9c-t0.png);
        background-repeat: repeat;
}

#intro{ font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 30px;
        width:75%;
        margin:20px auto;
        background-color: whitesmoke;
        opacity: 0.5;
}

h2{     font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 40px;
        width:70%;
        box-sizing: border-box;
        text-align: center;
        margin:20px auto 10px;
        padding: 10px;
        font-size: 35px;
        background-color: whitesmoke;
        opacity: 0.5;
}

p{
    width:70%;
    box-sizing: border-box;
    text-align: center;
    margin:10px auto;
    padding: 20px;
}

#boxcontainer{
    display: flex;
    width:70%;
    margin:15px auto;
    justify-content:space-between;
   
}

.odkaz{ display:flex;
    width:200px; height:200px;
    align-items:center;
    justify-content: space-around;
    margin:10px;
    padding:15px;
    background-color: #A9A9A9;
    position: relative;
    
    
}

#about {        margin:10px;
                padding:15px;
                background-image: url(image/about.png);
                background-size:100% 100%;                 
                background-repeat: no-repeat;}
                

#visited {      margin:10px;
                padding:15px;
                background-image:url(image/castle.png);
                background-size:100% 100%;                
                background-repeat: no-repeat;
            }
            
#tick{          position: absolute; bottom:20px;right:20px;
                background-image:url(image/tick.png);
                background-size: 100%;
                width: 50px; height: 50px;
            }

#list {         margin:10px;
                padding:15px;
                Background-image: url(image/castle.png);
                background-size:100% 100%;                                 
                background-repeat: no-repeat;
                }

.boxcontainer2{
    display: flex;
    flex-direction: column;
    width:70%;
    margin:100px auto 20px;
    justify-content:space-evenly;

}

.show{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    height:auto;
    position:relative;
}

.leftbanner{border: solid 2px #696969;
        background-color: whitesmoke;
        opacity: 0.5;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width:10%; height:100%;
        margin:0px;
        text-align: center;
        position:absolute; left:0px;
        
}

.rightbanner{ border: solid 2px #696969;
        background-color: whitesmoke;
        opacity: 0.5;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width:10%; height:100%;
        margin:0px;
        text-align: center;
        position:absolute; right:0px;
 }

 .rightbanner img{
        transform: rotate(180deg);

  
 }

 .leftbanner:hover, .rightbanner:hover {cursor: pointer;}

 .slide{border: solid 2px #696969;
        box-sizing: border-box;
        width:80%; height:100%;
        margin:0px auto;
 }

 .slide img{width:100%;
            height:auto;

 }

 .desc{border: solid 2px #696969;
        background-color: whitesmoke;
        opacity: 0.5;
        box-sizing: border-box;
        width:100%;
        height:auto;
        text-align: center;
        padding: 10px;
        
 }

 .pictitle, .description{
        font-size: 50px bold;
 }

 .thumbcontainer1, .thumbcontainer2{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin:10px auto;
        border: solid 2px #696969;
        background-color: whitesmoke;
        opacity: 0.5;
        box-sizing: border-box;
         }

.thumbnails img{
        display: flex;
        flex-wrap: wrap;
        max-width: 70px ;
        max-height: 55px;
        margin: 5px;
        background:grey;}
